# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
!CommMngr/src/backEnd/CommMngr/src/main/resources/lib/*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# specialized
Server/src/build/*
utils/build/*
third_party/*/build/*
third_party/msgpack/*
.vscode/*
SCShare/build/*
Client/src/build/*
